# Xcode
DerivedData/
.idea/
*.xcworkspace
xcuserdata/
xcshareddata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
!*.xcworkspace/contents.xcworkspacedata
.DS_Store
# Игнорируем временные файлы и пользовательские настройки
NewsToDayApp.xcodeproj/project.xcworkspace/xcuserdata/evgeniykislitsin.xcuserdatad/UserInterfaceState.xcuserstate
